doctype html
html
  head
    title EF Test
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/styles.css')
  body
    header
      .container
        .row.logo.text-center
          img(src='img/logo1.png', width='216', height='111', alt='EF')
        // header
        .row
          .slider.hidden-xs        
            // Wrapper for slides

            ul
              li
                figure
                  picture
                    img(src='img/banner2.png', alt='EF')
                  figcaption Lorem ipsum dolor sit amet, consectetur.
              li
                figure
                  picture
                    img(src='img/banner2.png', alt='EF')
                  figcaption Lorem ipsum dolor sit amet, consectetur.
              li
                figure
                  picture
                    img(src='img/banner2.png', alt='EF')
                  figcaption Lorem ipsum dolor sit amet, consectetur.
          #slider-nav
            button(data-dir='prev', class='icon icon-left')             
            button(data-dir='next', class='icon icon-right')
        // sidebar
    .post
      .container
        .row
          section.col-md-6.no-padding     
            img(src='img/post1.png', alt='')
          aside.col-md-6
            h5 LANGUAGE
            h5 September 21, 2013
            h2 HOW TO PREPARE YOUR CV IN ENGLISH?
            p
              b By
              span.beige
                | Andrew Walters
            hr.hr
            p
              | Jango amidala lando leia tusken raider anakin kessel. Moff sith skywalker hutt. Alderaan solo jango kashyyyk. Darth ben jar amidala moff windu fett mace.
            p
              strong READ MORE
              span.icon-read
        .row.content
          section
            .col-md-12
              h2 LOREM IPSUM
            .col-md-6
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla adipiscing purus tortor, a rhoncus orci ullamcorper at. Aenean id metus nec dui elementum posuere. Pellentesque posuere nibh ut magna posuere, non ullamcorper enim pretium. Donec hendrerit nibh in vestibulum lacinia. Quisque fringilla mattis urna, nec iaculis sapien hendrerit ut. Nam luctus lectus sed mauris tincidunt viverra. Integer et turpis viverra, sollicitudin dolor vel, placerat dolor. Nunc at lorem porttitor, venenatis tortor vulputate, cursus nibh.
              p
                | Quisque pellentesque eu felis a tempus. Nulla sapien nunc, convallis ut leo in, auctor dictum sem. Mauris sed malesuada lacus, at malesuada lectus. Aenean faucibus eleifend neque, a interdum urna dignissim sed. In hac habitasse platea dictumst. Aenean erat nunc, faucibus et metus vel, pellentesque pretium neque. Pellentesque leo sem, consectetur in mauris at, volutpat viverra dui. Integer sagittis sollicitudin nisl vitae tincidunt. Praesent suscipit placerat volutpat. Donec varius at enim vitae porttitor. Vestibulum accumsan elit urna, sit amet ornare lorem suscipit eu. Etiam in purus ut justo tempus euismod ut ac ipsum.
              p
                | Sed laoreet mattis diam ut euismod. Vivamus sodales nunc velit, eget congue leo elementum in. Donec non turpis elit. Vivamus at ante ac felis egestas sodales. Praesent dictum, orci id aliquam varius, tellus elit varius justo, vitae pretium massa dui ut erat. Suspendisse justo leo, convallis id justo ut, congue faucibus orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel suscipit sapien.
          .col-md-6
            section.testimonials
              blockquote
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla adipiscing purus tortor, a rhoncus orci ullamcorper at.
      footer
        .band
          .container
            .text-center
              span.icon-phone
              span  0207 341 8777
        .container
          .row.content
            .col-md-5.address
              h4 Address
              address
                | London
                br
                | 					22 Chelsea Manor Street
                br
                | 					London SW3 5RL
                br
                | 					0207 341 8777
            .col-md-3.conect
              h4 Stay Connected
              ul.social
                li
                  a.socialicon-fb(href='#', aria-hidden='true')
                li
                  a.socialicon-map(href='#', aria-hidden='true')
                li
                  a.socialicon-tw(href='#', aria-hidden='true')
                li
                  a.socialicon-play(href='#', aria-hidden='true')
            .col-md-4.hidden-xs
              small.pull-right change country
          .row.bottom
            span ©2012 EF Education First Ltd. All rights reserved.
      script(src='https://code.jquery.com/jquery-2.1.4.min.js')
      script(src='js/scripts.js')

